@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}
@layer base{
  :root{
    --color-bg-secondary: #F6F8FF;
    --color-text-primary: #2B3442;
    --color-text-secondary: #4B6A9B;
    --color-text-tertiary:#697C9A;
    --color-logo: #222731;
    --color-link: #0079FF;
    --color-bg-primary: #0079FF;
    --color-bg-surface: #FEFEFE;
    --color-text-contrast: #FFFFFF;
  }
  .dark {
    --color-bg-secondary: #141D2F;
    --color-text-primary: #FFFFFF;
    --color-text-secondary: #FFFFFF;
    --color-text-tertiary:#FFFFFF;
    --color-logo: #FFFFFF;
    --color-link: #0079FF;
    --color-bg-pprimary: #0079FF;
    --color-bg-surface: #1E2A47;
    --color-text-contrast: #FFFFFF;
  }
}

